<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
    <footer>
        <div class="footer_banner">
            <div class="imgbase">
                <img src="images/logo/footer_link01.png" alt="서초1인가구지원센터">
            </div>
            <div class="imgbase">
                <img src="images/logo/footer_link02.png" alt="서울대중교통">
            </div>
            <div class="imgbase">
                <img src="images/logo/footer_link03.png" alt="서초구가족센터">
            </div>
            <div class="imgbase">
                <img src="images/logo/footer_link04.png" alt="서울복지포털">
            </div>
        <div class="footer_bottom">
            <ul class="footerlinks">
                <li><a href="#">극장소개&nbsp;|</a></li>
                <li><a href="#">개인정보처리방침&nbsp;|</a></li>
                <li><a href="#">이메일 무단수집거부</a></li>
            </ul>
            <ul class="footerlist">
                <li>(주)시민극장&nbsp;&nbsp;  </li>
                <li>대표: 이규호,김가현,김성용&nbsp;|&nbsp; </li>
                <li>사업자등록번호: 000-00-00000 &nbsp;|&nbsp; </li>
                <li>개인정보 보호책임자 : 김가현 &nbsp;|&nbsp; </li>
                <li>연락처: 010-1234-5678</li>
            </ul>

            <ul class="footerlist">
                <li>주소 : ( 04410 ) 서울시 용산구 독서당로 11길 16 (한남동 108)   |   TEL : 02-794-6100   |   FAX : 02-794-0205</li>
                <li>Copyrightⓒ시민극장. All right reserved.</li>
            </ul>
            <ul class="footerlist">
                <li>Copyrightⓒ시민극장. All right reserved.</li>
            </ul>
        </div>
    </footer>
</body>
</html>
