<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
    <footer>
        <ul class="footerlinks">
            <li><a href="#">극장소개&nbsp;|</a></li>
            <li><a href="#">개인정보처리방침&nbsp;|</a></li>
            <li><a href="#">이메일 무단수집거부</a></li>
        </ul>
        <ul class="footerlist">
            <li>(주)시민극장 </li>
            <li>대표: 이규호,김가현,김성용&nbsp;|&nbsp; </li>
            <li>사업자등록번호: 000-00-00000 &nbsp;|&nbsp; </li>
            <li>개인정보 보호책임자 : 김가현 &nbsp;|&nbsp; </li>
            <li>연락처: 010-1234-5678</li>
        </ul>
        <p>주소 : ( 04410 ) 서울시 용산구 독서당로 11길 16 (한남동 108)   |   TEL : 02-794-6100   |   FAX : 02-794-0205</p>
        <p>Copyrightⓒ시민극장. All right reserved.</p>
    </footer>
</body>
</html>
