<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="styles/main.css">
    <script type="text/javascript" src="scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="#">시민극장</a>
        </div>
        <div class="loginSection">
            <ul class="idPw">
                <li><a href="#">로그인&nbsp;|&nbsp;</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </div>
    </header>
</body>
</html>



<!-- <div class="logo">로고</div>
<div class="menu">메뉴</div> -->