// ## 변수
$color-emp: #34a3e7;
$color-shine: #eee;
$color-light: #bbb;
$color-blue: #62abff;
$color-lightgrey: #aaaaaa;
$color-grey: #808080;
$color-dark: #666;
$color-black: #222;
$color-background: #eeeeee;

$menu-height: 40px;
$max-width: 960px;

// 엘리먼트 기본값
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
  color: $color-black;
  font-size: 16px;
  word-break: break-all;
  background-color: $color-background;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

table {
  width: 100%;
  width: -webkit-fill-available;
  border-collapse: collapse;
}

#message {
  width: 100%;
  .log {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    font-size: 0.9em;
    text-align: center;
    &.info {
      background-color: gray;
    }
    &.success {
      background-color: green;
    }
    &.error {
      background-color: red;
    }
  }
}

header, nav, section, footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  height: $menu-height;
  background-color: white;
  border-bottom: 1px solid $color-lightgrey;
  &.login {
    display: none;
  }
}

nav.menu {
  height: $menu-height;
  >ul {
    height: inherit;
    display: flex;
    align-items: center;
    font-size: 0.95em;
    li {
      height: inherit;
      min-width: 120px;
      text-align: center;
      &.active {
        border-bottom: 4px solid $color-emp;
      }
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: $menu-height;
      &:hover {
        color: $color-emp;
      }
    }
    li.disabled {
      color: $color-lightgrey;
      a {
        pointer-events: none;
      }
    }
  }
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  &.login {
    margin-top: 70px;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // width: 100%;
  padding: 15px;
  border-radius: 10px;
}

section {
  margin-top: 30px;
  background-color: white;
  .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    &.red {
      color: red;
    }
  }
  .box {
    p {
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
  table {
    margin-bottom: 15px;
    th, td {
      padding: 2px 5px;
    }
    input {
      min-width: 200px;
      padding: 3px;
      border: 1px solid $color-grey;
      border-radius: 3px;
      &[readonly] {
        background-color: $color-shine;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    >*:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.btn {
  font-size: 0.95em;
  padding: 3px;
  min-width: 80px;
  &:hover {
    cursor: pointer;
  }
}

input {
  &[type=radio],
  &[type=checkbox] {
    margin-right: 5px;
  }
}

