// 변수 ---------------------------------------------------------
$color-emp: #34a3e7;
$color-shine: #eee;
$color-light: #bbb;
$color-blue: #62abff;
$color-lightgrey: #aaaaaa;
$color-grey: #808080;
$color-dark: #666;
$color-black: #222;
$color-background: #eeeeee;
// $color-black: black;
// $color-background: initial;
$max-width: 1200px;