// 변수 임포트
@import "_variables.scss";

header {
    flex-direction: row;
    .logo {
        width: 200px;
    }
    .menu {
        width: 100%;
    }
}

main {
    section {
        width: 100%;
        max-width: $max-width;
    }
}

footer {

}