// 변수 임포트
@import "_variables.scss";
/*------------------------*/
header {
    height: 100px;
    margin: auto;
    flex-direction: row;
    position:relative;
    display:flex; 
    flex-wrap: nowrap;
    border-bottom:  1px solid rgb(202, 202, 202);
    z-index:3;
    text-align: center;
    
    .logo {
        width: 200px;
        height: 100px;
        position: relative;
        text-align:center;
        font-size: 30px;
        line-height: 100px;
    }
    a { 
        text-decoration: none;
    }
    menu {
        width: 100%;
    }
    .loginSection{
        width: 400px;
        position: absolute;
        right: 0;
        top: 20px;
        font-size: 1em;
    }
    .idPw{
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
/*------------------------*/
main {
    section {
        width: 100%;
        max-width: $max-width;
    }
}
/*------------------------*/
footer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.65em;
    border-top:  1px solid rgb(202, 202, 202);
    text-align: center;
    // border: 1px solid;

    a { 
        text-decoration: none;
    }
    .footer_banner{
        position: relative;
        width: 1200px;
        height: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .imgbase{
            display: inherit;
            width: 240px;
            justify-content: center;
            overflow: hidden;
            >img {
                height: 100%;
            }
        }
        // border: 1px solid;
        margin-bottom: 10px;
    }
    .footer_bottom{
        // border: 1px solid;
        position: relative;
        display: flex;
        width: 1200px;
        height: 100px;
        justify-content: space-around;
        padding-left: 150px;
        flex-wrap: wrap;
        .footerlinks{
        display: flex;
        width: 280px;
        height: 20px;
        margin: 0px;
        margin-top: 10px;
        left: 0;
        }

        .footerlist{
        // border: 1px solid;
        width: 800px;
        height: 20px;
        display: flex;
        left: 30px;
        top: 20px;
            .li{
                padding:0 20px 0 20px;
                margin: 10px 0px 10px 0px;
                border-right:#999 1px solid;
            }
        }
    }
}