#userdata {
    display: flex;
    padding: 15px;
    flex-direction: column;
    line-height: 1.6;
    >.title {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid gray;
    }
    .content {
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        background-color: #eee;
        .wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            max-width: 960px;
            >div {
                display: flex;
                flex-grow: 1;
                justify-content: center;
                margin-right: 60px;
            }
        }
        .title {
            font-weight: bold;
            font-size: 1.25em;
            margin-right: 25px;
            padding: 3px 0;
        }
        .data {
            padding: 5px;
        }
    }
}


#purchased {
    display: flex;
    padding: 15px;
    flex-direction: column;
    line-height: 1.6;
    >.title {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid gray;
    }
    .content {
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        background-color: #eee;
        .ticket {
            max-width: 960px;
            height: 160px;
            display: flex;
            border: 1px solid grey;
            border-radius: 15px;
            padding: 10px;
            margin-bottom: 15px;
            background-color: white;
            &:first-child {
                margin-top: 15px;
            }
            .topimg {
                width: 96px;
                margin-right: 25px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                img {
                    // width: 100%;
                    height: 100%;
                }
            }
            .info {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                div {
                    display: flex;
                }
                .title {
                    font-weight: bold;
                    font-size: 1.25em;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    border-bottom: 1px solid grey;
                }
            }
            .payment {
                display: flex;
                flex-direction: column;
                width: 160px;
                padding: 5px 20px;
                word-break: keep-all;
                margin-left: 25px;
                .date {
                    text-align: right;
                }
                .points {
                    text-align: right;
                    margin-bottom: 5px;
                }
                input {
                    cursor: pointer;
                    // margin-top: auto;
                    align-self: center;
                    font-size: 1em;
                    // font-weight: bold;
                    width: fit-content;
                    min-width: 120px;
                    padding: 5px 10px;
                }
            }
        }
    }
}